@font-face {
    font-family: Jefferies;
    src: url("Jefferies Bold Italic.woff2");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Jefferies;
    src: url("Jefferies Italic.woff2");
    font-style: italic;
}

@font-face {
    font-family: Jefferies;
    src: url("Jefferies Bold.woff2");
    font-weight: bold;
}

 @font-face {
    font-family: Jefferies;
    src: url("Jefferies.woff2");
}
