
<!DOCTYPE html>
<html>
    <body>
        <dialog>
            <header>
                Input
                <button class="close" role="button">⤫</button>
            </header>
            <main>
                <label for="input-field"></label>
                <input id="input-field" type="text">
            </main>
            <footer>
                <button class="cancel" role="button">Cancel</button>
                <button class="confirm" role="button">OK</button>
            </footer>
        </dialog>
    </body>
</html>
