/* Variables */
:root,
::backdrop {
    --main-color-bg: hsl(200deg 50% 1%); /* nearly-black */
    --main-color-text: #ddd;
    --secondary-color-bg: hsl(273.6deg 17.48% 10%);  /* colored-nearly-black */
    --nav-color-bg: var(--main-color-text);
    --nav-color-text: var(--main-color-bg);
    --main-font-body: "Okuda", sans-serif;
    --main-font-headers: "Okuda", sans-serif;
    --shadow-color-text: hsl(180deg 25% 20%);
    --dialog-color-backdrop: hsl(0deg 0% 0% / 70%);
    --main-a-link-color: hsl(220deg 31% 41%);
    --main-a-hover-color: hsl(220deg 49% 38%);
    --main-a-active-color: hsl(220deg 38% 31%);
    --main-a-visited-color: hsl(268deg 23% 42%);
    --main-font-size: 14pt;
    --void-bg: black;
    --header-inner-bg: var(--secondary-color-bg);
    --header-outer-bg: var(--main-color-bg);
    --header-edge-bg: transparent;
    --trek-color-1: #cb5449;
    --trek-color-2: #7a87f8;
    --trek-color-3: #ed822c;
    --trek-color-4: #f2af94;
    --trek-color-5: #c18cf9;
    --trek-color-6: #bc5196;
    --trek-color-highlight: var(--trek-color-3);
    --ship-name-color: white;
    --ship-name-color-bg: transparent;
    --player-color-red: var(--trek-color-1);
    --player-color-blue: var(--trek-color-2);
    --player-color-yellow: var(--trek-color-3);
    --player-color-brown: var(--trek-color-4);
    --player-color-black: #222;
    --player-color-white: #bbb;
}

@media screen and (prefers-contrast: more) {
  :root,
  ::backdrop {
    --main-color-bg: black;
    --main-color-text: white;
    --shadow-color-text: transparent;
    --dialog-color-backdrop: hsl(0deg 0% 0% / 90%);
  }
}

/* Animations */
@media screen and (prefers-reduced-motion: no-preference) {
  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  @keyframes slide-in {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(30px);
      opacity: 0;
    }
  }

  @keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(0deg); }
    50% { transform: rotate(6deg); }
    75% { transform: rotate(-6deg); }
    100% { transform: rotate(0deg); }
  }

  @keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
  }

  @keyframes tinypop {
    0% { transform: scale(1); }
    50% { transform: scale(1.005); }
    100% { transform: scale(1); }
  }

  @keyframes bouncing {
    0% { transform: translateY(0);}
    50% { transform: translateY(5px); }
    100% { transform: translateY(0); }
  }
}


html {
    margin: 0;
    padding: 0;
    hyphens: auto;
    min-height: 30em;
    height: fit-content;
    position: relative;
    overflow: auto auto;
    overflow-wrap: anywhere;
    word-break: auto-phrase;
    color: var(--main-color-text);
    background-color: var(--main-color-bg);
    text-rendering: optimizelegibility;
    font-family: var(--main-font-body);
    font-size: var(--main-font-size);
}

html:focus-within {
  scroll-behavior: auto;
}

@media (prefers-reduced-motion: no-preference) {
  html:focus-within {
    scroll-behavior: smooth;
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--main-font-headers);
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.1rem;
}

small {
  font-size: 0.5em;
}

p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
a:any-link {
  color: var(--main-a-link-color);
}

a:any-link:hover {
  color: var(--main-a-hover-color);
}

a:any-link:active {
  color: var(--main-a-active-color);
}

a:visited {
  color: var(--main-a-visited-color);
}

dialog::backdrop {
  background-color: var(--dialog-color-backdrop);
}


button,
#save-btn,
#settings-btn,
#mute-btn {
    user-select: none;
    
    &:not(:disabled) {
        cursor: pointer;
    }
}

together {
  display: inline;
  white-space: nowrap;
}

select-only {
    display: inline-block;
    user-select: all;
    visibility: visible;
    overflow: hidden;
    height: 1px;
    width: 1px;
}

decoration a,
nav li > a {
    text-transform: uppercase;
    user-select: none;

    &.squeeze, & .squeeze {
      letter-spacing: 1px;
    }
}

*[contenteditable="true"] {
    outline: none;
}

model-viewer {
    display: block;
    width: unset !important;
}

dialogs > dialog {
    --backdrop-color: hsla(0deg 0% 0% / 80%);

    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    width: 80vw;
    max-height: 80dvh;
    border: 1px solid #666;
    background-color: #ccc;
    border-radius: 8px;

    &[open] {
        display: flex;
    }

    &[is="settings-dialog"] {
        max-width: 20em;
    }

    &[is="welcome-dialog"] {
        max-width: 38em;

        table {
            margin: 0 auto;
        }
    }

    &::backdrop {
        background-color: var(--backdrop-color);
    }

    & main {
        padding: 20px 12px;
        overflow: auto;
        min-height: 10vh;

        & dl {
            margin-top: 0.5em;
            margin-bottom: 0;
        }

        & input[type="file"] {
            font-size: 0.6em;
        }

        & table {
            border: 1px solid black;
            border-collapse: collapse;

          & tr:not(:last-child) {
            border-bottom: 1px solid #444;
          }

          & td {
            padding-right: 0.5em;
            padding-left: 0.25em;
          }

          & td:not(:first-child) {
            border-left: 1px solid #444;
          }

          & thead {
            border-bottom: 2px solid #444;

            & th {
                font-weight: bold;
                text-align: center;
            }
          }
        }
    }

    & header {
        display: block;
        user-select: none;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 1.5em;
        text-align: center;
        color: white;
        background-color: var(--backdrop-color);
        border-bottom: 1px solid #666;

        & button {
            line-height: 1em;
            color: var(--main-color-text);
            background-color: transparent;
            border: 0 solid transparent;
            outline: 0;
            float: right;
            display: block;
            align-items: center;
            text-align: center;
            cursor: pointer;
        }
    }

    & footer {
        border-top: 0.25em ridge var(--main-color-bg);
        padding: 0 0 4px;
        background-color: hsl(0deg 0% 8%);

        & > button.close {
            display: block;
            margin: 0 auto;
            appearance: none;
            background: none;
            color: black;
            border: none;
            border-radius: 8px;
            padding: 2px 20px;
            background-color: var(--trek-color-2);

            &:hover {
                filter: hue-rotate(-10deg);
            }

            &:active {
                filter: brightness(0.8);
            }
        }
    }
}

#game-name {
  position: absolute;
  font-size: calc(var(--main-font-size)* 1.2);
  top: calc(var(--main-font-size)* 0.4);
  left: calc(var(--main-font-size)* 0.4);
  width: calc(var(--main-font-size)* 6);
  height: fit-content;
  text-align: end;
  color: var(--nav-color-text);
  font-family: var(--main-font-headers);
}

#settings-btn,
#save-btn,
#momentum-section,
#threat-section {
    position: absolute;
    left: calc(var(--main-font-size)* 0.4);
    padding: 0 calc(var(--main-font-size)* 0.4);
    width: calc(var(--main-font-size)* 5.25);
    font-size: calc(var(--main-font-size)* 0.8);
    line-height: calc(var(--main-font-size)* 0.8);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &:not(:active) {
        color: var(--nav-color-text);
    }

    & text {
      padding-inline: 0.5em;
    }

    & > symbol {
        width: 1.125em;
        text-align: justify;
    }
}

#settings-btn {
    top: calc(var(--main-font-size) * 5.25);
}

#save-btn {
    top: calc(var(--main-font-size) * 6.5);
}

#mute-btn {
    z-index: 20;
    position: absolute;
    top: 6.25em;
    font-size: calc(var(--main-font-size) * 1.2);
    left: 0;
    background-color: transparent;
    border-color: transparent;

    &:hover {
        text-shadow: 0 1mm 4mm #fff6;
    }

    &.on > .off {
        display: none;
    }

    &:not(.on) > .on {
        display: none;
    }
}


#momentum-section,
#threat-section  {
    flex-direction: column;

    & > label,
    & > input {
        margin: 0;
        padding: 0;
        display: block;
    }

    & > label {
        font-size: inherit;
        font-weight: bold;
        color: var(--nav-color-text);
    }

    & > label > input {
      float: inline-end;
      scale: 1.5;
    }

    & > input {
      margin: 0;
      padding: 0;
      padding-left: 0.5em;
      text-align: center;
      background: unset;
      border: 1px solid #431818;
      outline: none;
      font-size: 2em;
    }
}

.edition-captains-log #threat-section {
  top: 23em;
}

:not(.edition-captains-log) #threat-section {
  top: 27em;
}

#momentum-section {
  top: 21em;

}

task-tracker {
  margin: 0.125em 0.25em;

  &::part(internal) {
      --tracker-background-color: #666;
      --tracker-border-width: 6px;
      --tracker-border-style: outset;
      --tracker-border-color: black white white black;
      --tracker-title-separator-color: #333;
      --tracker-select-background-color: #333;
      --tracker-select-color: #ccc;
  }
}

body {
    z-index: 1;
    position: relative;
    display: grid;
    margin: 0;
    height: fit-content;
    min-height: max(var(--min-body-height, 26em), calc(100dvh - 0.4em));
    min-width: 45em;
    padding-left: 7em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    grid-template-rows: 6em 4.75em 1fr;
    grid-template-columns: 1fr 12em;
    grid-gap: 0.4em;

    /* Hide elements exclusive to the other edition */
    span.edition-1,
    span.edition-captains-log,
    span.edition-2 {
      display: contents;
    }

    &.edition-1 .edition-2:not(.edition-1),
    &.edition-1 .edition-captains-log:not(.edition-1),
    &.edition-captains-log .edition-1:not(.edition-captains-log),
    &.edition-captains-log .edition-2:not(.edition-captains-log),
    &.edition-2 .edition-1:not(.edition-2),
    &.edition-2 .edition-captains-log:not(.edition-2)
    {
      display: none !important;
    }

    & > header {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-wrap: nowrap;
        gap: 0.25em;   
        background: transparent;
        background: linear-gradient(90deg,
          var(--header-edge-bg) 0%,
          var(--header-outer-bg) 10%,
          var(--header-inner-bg) 30%,
          var(--header-outer-bg) 50%,
          var(--header-inner-bg) 70%,
          var(--header-outer-bg) 90%,
          var(--header-edge-bg) 100%);


        & > model-viewer {
            flex: 1 1 49%;
        }

    }

    & > main {
        grid-row: 3;
        grid-column: 1 / 3;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1px auto;
        grid-gap: 0.2em;

        & traits, & mission-tracker {
            width: -webkit-fill-available;
            width: -moz-available;
            width: fill-available;
            display: block;
            position: relative;
            margin-top: 0.2em;
            padding-bottom: 0.4em;
            border-bottom: 0.1em solid white;
            margin-bottom: 0.2em;
            font-size: 1.25em;

            & trait-display {
                &:nth-of-type(odd) { --trait-bg-color: var(--trek-color-5); }
                &:nth-of-type(even) { --trait-bg-color: var(--trek-color-1); }
                &:nth-of-type(2) { --trait-bg-color: var(--trek-color-2); }
                &:nth-of-type(3) { --trait-bg-color: var(--trek-color-3); }
                &:nth-of-type(4) { --trait-bg-color: var(--trek-color-4); }
            }
        }
    
        & > content {
          grid-row: 1;
        }

        & > select-only {
          grid-row: 2;
        }

        & > ul.players {
            grid-row: 3;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.5em 1.5em;
            min-width: 20em;
            width: 100%;
            margin: 0;
            margin-top: 0.125em;
            margin-bottom: 0.5em;
            padding: 0;

            & li {
                flex: 0 1 6.5em;
            }
        }

    }

    & nav {
        grid-row: 1;
        grid-column: 2;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 0.2em;

        & ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 0.2em;
            justify-content: flex-end;
            width: fit-content;
            margin: 0;
            padding: 0;

            & li {
                flex: 1 0 40%;
                border-radius: 8px;
                font-size: calc(var(--main-font-size) * 0.8);


                & a {
                    display: block;
                    text-decoration: none !important;
                    color: var(--nav-color-text) !important;
                    padding: 0.5em 0 0.5em 0.5em;
                    cursor: pointer;
                    line-height: 1.2em;
                }

                &:hover {
                    filter: brightness(1.25);
                }

                &:nth-of-type(odd) {
                    background-color: var(--trek-color-5);
                }

                &:nth-of-type(even) {
                    background-color: var(--trek-color-1);
                }

                &:nth-of-type(2) {
                    background-color: var(--trek-color-2);
                }

                &:nth-of-type(3) {
                    background-color: var(--trek-color-3);
                }

                &:nth-of-type(4) {
                    background-color: var(--trek-color-4);
                }

                &.shipname {
                    display: block;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    border-radius: 0.8em;
                    text-decoration: none !important;
                    color: var(--ship-name-color);
                    background-color: var(--ship-name-color-bg) !important;
                    padding: 0.6em 0 0.6em 0.8em;
                    border-color: var(--ship-name-color-border, var(--trek-color-highlight));
                    border-width: 0.2em;
                    border-style: solid;

                    &:hover {
                        filter: unset;
                    }
                }

            }
        }
    }

    & footer {
        grid-row: 4;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 0.8em;
    }

    & theme {
        position: unset;
    }
}
