
<!DOCTYPE html>
<html>
    <body>
        <dialog>
            <header>
                Settings
                <button class="close" role="button">⤫</button>
            </header>
            <main>
                <dl>
                    <dt>Actions</dt>
                    <dd>
                        <button class="clear-info">Clear Database</button>
                        <button class="show-welcome">Show Welcome Screen</button>
                        <hr>
                        <label>
                            Backup
                            <button class="export-game">Save & Export</button>
                        </label>
                        <br>
                        <label>
                            Import
                            <input type="file" class="import-game-file" accept=".staplay"></input>
                        </label>
                    </dd>
                    <dt>Theme</dt>
                    <dd>
                        <select id="select-theme">
                            <option value="klingon">Klingon</option>
                            <option value="starfleet-22">22nd Century</option>
                            <option value="starfleet-23">23rd Century</option>
                            <optgroup label="LCARS">
                                <option value="lcars-24">Mid 24th</option>
                                <option value="lcars-late-24">Late 24th</option>
                                <option value="lcars-holo">Holographic</option>
                                <option value="lcars-25">Early 25th</option>
                            </optgroup>
                        </select>
                        <select id="select-edition">
                            <option value="1">First Edition</option>
                            <option value="captains-log">Captain's Log</option>
                            <option value="2">Second Edition</option>
                        </select>
                    </dd>
                    <dl>Ship Model</dl>
                    <dd>
                        <input class="select-ship" type="file" accept=".gltf,.glb" />
                        <br>
                        <button class="set-ship">Update</button>
                        <button class="clear-ship">Clear</button>
                    </dd>
                    <dt>Upload Player Image</dt>
                    <dd class="player-image-upload">
                        <input class="select" type="file" accept="image/*" />
                        <br>
                        Player
                        <input class="index" type="number" value="1" min="1" max="1">
                        <button class="set">Update</button>
                    </dd>
                </dl>
            </main>
            <footer>
                <button class="close" role="button">Close</button>
            </footer>
        </dialog>
    </body>
</html>
