input-progress-internal {
    --progress-bar-color-fallback: #229bd8;

    position: relative;
    display: block;
    min-height: 1em;

    & > * {
        background-color: transparent;
        position: absolute;
        inset: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%; 
    }

    & data {
        color: var(--progress-text-color, black);
        text-shadow: 1px 1px 1px var(--progress-text-shadow-color, gray);
        content: attr(value);
        vertical-align: middle;
    }

    & progress {
        color: var(--progress-bar-color, var(--progress-bar-color-fallback));

        &::-webkit-progress-value {
            background-color: var(--progress-bar-color, var(--progress-bar-color-fallback));
        }

        &::-moz-progress-bar {
            background-color: var(--progress-bar-color, var(--progress-bar-color-fallback));
        }
    }

    & input[type="range"] {
        appearance: none;
        color: black;
        opacity: 0;

        &:hover {
            opacity: 0.8;
        }

        /* Make range slider read-only in mirror window */
        :host-context(body.mirror) & {
            pointer-events: none;
        }
        
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            aspect-ratio: 3/4;
            width: max(1em, 10%);
            border-radius: 20%;
            background: var(--slider-thumb-color, hsl(0deg 0% 0% / 75%));
            cursor: pointer;
        }
        
        &::-moz-range-thumb {
            aspect-ratio: 3/4;
            width: max(1em, 10%);
            border-radius: 20%;
            background: var(--slider-thumb-color, hsl(0deg 0% 0% / 75%));
            cursor: pointer;
        }
    }
}