
mission-tracker-internal {
    display: inline-grid;
    grid-template-columns: auto repeat(3, 1fr);
    width: var(--stretch);
    max-width: 40em;
    font-size: 1em;

    & .clear-mission-tracker {
        border-radius: 0 50% 50% 0;
        padding: 0 0.125em 0 0;
        font-size: 1em;
        margin-inline-end: 2em;
        color: var(--clear-mission-tracker-color-text, var(--nav-color-text, unset));
        background-color: var(--clear-mission-tracker-color-bg, var(--trek-color-1));
        opacity: var(--trait-color-opacity, 1);

        & div {
            position: relative;
            top: 0.125em;
        }
    }

    & act {
        border-radius: 0.5em;
        padding: 0 0.5em;
        width: min-content;
        display: inline-flex;

        & .scene {
            width: fit-content;
            height: fit-content;
            background-image: url('../../img/starfleet-delta-grey.webp');
            background-size: 0.75em;
            background-position: 0.35em center;
            background-repeat: no-repeat;

            & select {
                font-size: 1.4em;
                background-color: transparent;
                border-color: transparent;
                color: white;
                position: relative;

                &:focus-visible {
                    background-color: hsl(0deg 0% 20% / 30%);
                    outline: unset;
                    border-radius: 0.5em;
                }
            }
        }

    }

    & act:nth-of-type(1) {
        background-color: var(--player-color-red, red);
    }

    & act:nth-of-type(2) {
        background-color: var(--player-color-blue, blue);
    }

    & act:nth-of-type(3) {
        background-color: var(--player-color-yellow, gold);
    }
}