
<!DOCTYPE html>
<html>
    <body>
        <dialog>
            <style>
                main {
                    white-space: pre-wrap;
                    padding: 1.5em;
                    min-width: 20em;
                    max-width: 40em;
                }
            </style>
            <header>
                Message
                <button class="close" role="button">⤫</button>
            </header>
            <main></main>
            <footer>
                <button class="close" role="button">OK</button>
            </footer>
        </dialog>
    </body>
</html>
