@import url('../../fonts/pixelsagas.com/PS_Okuda/font.css');
@import url('../../fonts/LCARS/font.css');

:root,
::backdrop {
    --main-color-bg: hsl(200deg 50% 1%); /* nearly-black */
    --main-color-text: #ddd;
    --nav-color-bg: var(--main-color-text);
    --nav-color-text: var(--main-color-bg);
    --main-font-body: "Okuda", sans-serif;
    --main-font-headers: "Okuda", sans-serif;
    --shadow-color-text: hsl(180deg 25% 20%);
    --dialog-color-backdrop: hsl(0deg 0% 0% / 70%);
    --main-a-link-color: hsl(220deg 31% 41%);
    --main-a-hover-color: hsl(220deg 49% 38%);
    --main-a-active-color: hsl(220deg 38% 31%);
    --main-a-visited-color: hsl(268deg 23% 42%);
    --void-bg: black;
    --min-decoration-height: 28em;
    --min-body-height: calc(1em + var(--min-decoration-height));
    --trek-color-1: hsl(5deg 56% 54%); /* red */
    --trek-color-2: hsl(234deg 90% 73%); /* blue */
    --trek-color-3: hsl(27deg 84% 55%); /* orange */
    --trek-color-4: hsl(17deg 78% 76%); /* peach */
    --trek-color-5: hsl(269deg 90% 76%); /* periwinkle */
    --trek-color-6: hsl(321deg 44% 53%); /* magenta */
    --trek-color-highlight: var(--trek-color-3);
    --player-color-red: var(--trek-color-1);
    --player-color-blue: var(--trek-color-2);
    --player-color-yellow: var(--trek-color-3);
    --player-color-brown: var(--trek-color-4);
    --player-color-black: hsl(0deg 0% 13%);
    --player-color-white: hsl(0deg 0% 73%);
}

html.alt-font {
    --main-font-body: "LCARS", sans-serif;
    --main-font-headers: "LCARS", sans-serif;
    --headers-weight: normal;
    --headers-text-transform: uppercase;
}

.alt-font-available {
    display: unset;
}

body, h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0.06em;
}

body nav {
    align-items: center;
}

body {
    decoration {
        transition: filter 2s ease-in-out 0.25s;
    }

    &[alert="grey"], &[alert="cloak"] {
        decoration {
            filter: grayscale(.4) brightness(0.66);
        }
    }
}

#fullscreen-btn {
    top: calc(var(--main-font-size) * 6.825);
    left: calc(var(--main-font-size) * 9);
}

#dice-btn {
    top: calc(var(--main-font-size) * 8.75);
    left: calc(var(--main-font-size) * 5);
}

#tables-btn {
    top: calc(var(--main-font-size) * 8.75);
    left: calc(var(--main-font-size) * 3.5);
}

#font-up-btn,
#font-down-btn {
    color: var(--main-color-text) !important;
}

li[is="player-display"] {
    --pip-color: rgb(163 154 108) !important;
}

decoration {
    z-index: -1;
    position: absolute;
    inset: 0;
    padding: 0;
    margin: 0 0.2em;
    min-height: var(--min-decoration-height);
    height: 100%;
    width: calc(100% - 0.4em);
    overflow: hidden visible;

    &::-webkit-scrollbar {
        width: 0;
        background-color: transparent;
        color: transparent;
        border: 0 solid transparent;
        appearance: none;
    }

    & > ul {
        margin: 0;
        padding: 0.2em;
        display: flex;
        flex-direction: column;
        list-style: none;

        /* last element should go to the bottom (minus margin) */
        & > li:last-of-type {
            position: absolute;
            top: calc(var(--min-decoration-height) + 2.25em); /* height of everything else plus margin */
            bottom: 0.4em;
            height: auto;
        }

        & li {
            min-height: 1em;
            height: 4.25em;
            margin: 0.2em 0;
            display: flex;
            flex-flow: row;
            flex-wrap: nowrap;

            & > ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                list-style: none;
                width: 0; /* this (plus overflow:visible) is necessary to not grow the page's width */
                position: relative;

                & li {
                    height: inherit;
                    margin: 0 0.2em;

                    & a {
                        width: 12em;
                    }

                    &.font-button-up,
                    &.font-button-down {
                        a {
                            width: 5em;
                            border-style: solid;
                            border-width: 0 1em 0 7em;
                            border-radius: 1em;
                            background-color: transparent;
                            background-color: #111 !important;
                        }
                    }

                    &.font-button-up a {
                        border-color: var(--trek-color-1) !important;
                    }

                    &.font-button-down a {
                        border-color: var(--trek-color-2) !important;
                    }
                }
            }

            &:has(> a:hover) {
                & > a:hover,
                &::before,
                & > ul > li:first-child a,
                & > ul > li:first-child::before
                {
                    filter: brightness(1.25);
                }
            }

            &:has(> ul > li:first-child a:hover) > a {
                filter: brightness(1.25);
            }

            & a, a:link, a:visited {
                display: flex;
                flex-direction: column-reverse;
                font-size: calc(var(--main-font-size) * 0.75);
                width: 8.25em;
                text-decoration: none;
                text-align: right;
                color: var(--nav-color-text);
                background-color: var(--trek-color-1);

                &:hover {
                    text-decoration: none;
                    color: black;
                }
            }

            &.upper-left a {
                flex-direction: column;
            }

            &.curve-bottom-right, &.curve-top-right {
                --curve-section-height: 3em;

                height: var(--curve-section-height);

                & > ul,
                & ul > li:first-child {
                    margin-left: 0 !important;
                }

                & li:nth-of-type(1) {
                    width: 4.5em;
                }

                & li:nth-of-type(1)::before {
                    content: '';
                    z-index: -2;
                    height: 50%;
                    width: calc(var(--curve-section-height) / 2);
                    position: absolute;
                    left: 0;
                }

                & li:nth-of-type(1)::after {
                    content: '';
                    z-index: -1;
                    background-color: var(--main-color-bg);
                    height: 100%;
                    width: var(--curve-section-height);
                    position: absolute;
                    left: 0;
                    border-radius: 50%;
                }

                & li:last-of-type > a {
                    width: 100vw;
                    height: 50%;
                }
            }

            &.curve-bottom-right {
                & > a {
                    border-bottom-left-radius: 100%;
                }

                & ul > li {
                    align-items: flex-end;

                    & a  {
                        min-height: 0;
                        height: 50%;
                    }
                }

                & li:nth-of-type(2) a {
                    background-color: var(--trek-color-3);
                }

                & li:nth-of-type(1) a {
                    background-color: var(--trek-color-2);
                    min-height: 0;
                    height: 50%;
                }

                & li:nth-of-type(1)::before {
                    background-color: var(--trek-color-2);
                    bottom: 50%;
                }

                & li:nth-of-type(1)::after {
                    bottom: 50%;
                }

                & li:last-of-type > a {
                    background-color: var(--trek-color-1);
                }
            }

            &.curve-top-right {
                & > a {
                    border-top-left-radius: 100%;
                }

                & li:nth-of-type(1) a {
                    background-color: var(--trek-color-1);
                    min-height: 0;
                    height: 50%;
                }

                & li:nth-of-type(1)::before {
                    background-color: var(--trek-color-1);
                    top: 50%;
                }

                & li:nth-of-type(1)::after {
                    top: 50%;
                }

                & li:nth-of-type(odd) a {
                    min-height: 0;
                    height: 50%;
                }

                & li:last-of-type > a {
                    background-color: var(--trek-color-5);
                }
            }

            &:nth-of-type(1) a {
                background-color: var(--trek-color-5);
            }

            &:nth-of-type(2) a {
                background-color: var(--trek-color-2);
            }

            &:nth-of-type(4) a {
                background-color: var(--trek-color-3);
            }

            &:nth-of-type(5) a {
                background-color: var(--trek-color-4);
            }

            &:nth-of-type(6) a {
                background-color: var(--trek-color-2);
            }
        }
    }
}

body.mirror {
  decoration > ul > li > ul > li {
    /* font button backgrounds should match the border so it doesn't have a big gap with the font buttons mirrored */
    &.font-button-up a {
        background-color: var(--trek-color-1) !important;
    }

    &.font-button-down a {
        background-color: var(--trek-color-2) !important;
    }
  }
}