@import url('../lcars-24/theme.css');

:root,
::backdrop {
    --main-color-bg: hsl(200deg 50% 1%); /* nearly-black */
    --secondary-color-bg: hsl(220deg 58% 18%);
    --nav-color-text: var(--main-color-bg);
    --void-bg: black;
    --player-color-opacity: 1;
    --trait-color-opacity: 1;
    --saturation-adjust: -20%;
    --header-inner-bg: hsl(290deg 43% 33% / 40%);
    --header-outer-bg: hsl(0deg 0% 0% / 40%);
    --trek-color-1: hsl(240deg    calc(80% + var(--saturation-adjust))   44%);
    --trek-color-2: hsl(196deg    calc(54% + var(--saturation-adjust))    61%);
    --trek-color-3: hsl(249deg    calc(64% + var(--saturation-adjust))    47%);
    --trek-color-4: hsl(172deg    calc(35% + var(--saturation-adjust))    37%);
    --trek-color-5: hsl(287deg    calc(53% + var(--saturation-adjust))    58%);
    --trek-color-6: hsl(260deg    calc(38% + var(--saturation-adjust))    32%);
    --trek-color-highlight: var(--trek-color-5);
    --player-color-red: hsl(0deg 58% 52% / var(--player-color-opacity));
    --player-color-blue: hsl(249deg 84% 47% / var(--player-color-opacity));
    --player-color-yellow: hsl(50deg 73% 58% / var(--player-color-opacity));
    --player-color-brown: hsl(23deg 55% 64% / var(--player-color-opacity));
    --player-color-black: hsl(252deg 5% 21% / var(--player-color-opacity));
    --player-color-white: hsl(248deg 24% 82% / var(--player-color-opacity));
}

task-tracker::part(internal) {
    --tracker-background-color: hsl(284deg 14% 42% / 100%);
    --tracker-title-separator-color: hsl(253deg 73% 28% / 100%);
}

#momentum-pool {
    color: var(--nav-color-text);
}
