@import url('../excelsior/theme.css');

:root,
::backdrop {
    /* Blue and Green Excelsion */
    --main-font-body: "Roddenberry", sans-serif;
    --main-font-headers: "Roddenberry", sans-serif;
    --main-font-unitless: 11;
    --main-color-bg: hsl(0deg 0% 0%); /* black background */
    --main-color-text: hsl(203, 100%, 60%); /* amber display color */
    --nav-color-bg: hsl(0deg 0% 10%);
    --nav-color-text: hsl(141, 100%, 60%);
    --void-bg: hsl(0deg 0% 5%);
    --trek-color-1: hsl(231, 100%, 60%);
    --trek-color-2: hsl(145, 100%, 50%);
    --trek-color-3: hsl(168, 100%, 70%);
    --trek-color-4: hsl(212, 100%, 45%);
    --trek-color-5: hsl(114, 74%, 30%);
    --trek-color-6: hsl(102, 80%, 40%);
    --trek-color-highlight: var(--trek-color-3);
    --player-color-red: hsl(1deg 65% 38%);
    --player-color-blue: hsl(205deg 69% 49%);
    --player-color-yellow: hsl(48deg 100% 42%);
    --player-color-brown: hsl(17deg 78% 76%);
    --player-color-black: hsl(0deg 0% 13%);
    --player-color-white: hsl(0deg 0% 73%);
    --header-inner-bg: hsl(0deg 0% 5%);
    --header-outer-bg: var(--main-color-bg);
    --header-edge-bg: transparent;
    --traits-display-width: 12em;
    --controls-height: 10em;
    --ship-display-height: 8em;
    --ship-display-col-1: 1;
    --ship-display-col-2: 2;
    --ship-display-row: 1;
    --main-content-col-start: 1;
    --main-content-col-end: 3;
    --main-content-row: 2;
    --controls-1-col: 1;
    --controls-2-col: 2 / 5;
    --controls-row: 3;
}

#game-name {
    text-shadow: 0 0 4px var(--trek-color-4);
}