
trait-display-internal {
    display: inline-block;
    border-radius: 4px;
    padding: 0.2em 0.4em;
    margin: 0.2em;
    position: relative;
    background-color: var(--trait-bg-color, gray);

    & > .name {
        display: inline-block;
        color: black;
        outline: none;
        border: none;
        width: auto;
        min-width: 1.2em;
        padding-block: 0;
        padding-inline: 0 0.6em;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        background: unset;
        user-select: text;
        white-space: nowrap;
        field-sizing: content;
        box-sizing: border-box;
    }

    & button.close {
        cursor: pointer;
        user-select: none;
        position: absolute;
        top: 0;
        right: 0;
        vertical-align: super;
        font-size: 0.5em;
        color: white;
        background-color: transparent;
        border: 0 solid transparent;
        outline: 0;
    }
}