
<!DOCTYPE html>
<html>
    <body>
        <dialog>
            <header>
                Welcome
                <button class="close" role="button">⤫</button>
            </header>
            <main>
                <p>
                    This is an unofficial, unaffiliated app for displaying game information for
                    players of the <a href="https://www.startrekttrpg.com/">Star Trek Adventures</a> game
                    by Modiphius® Entertainment (links: <a href="https://modiphius.us/">US</a> / <a href="https://modiphius.net">UK</a>).
                </p>
                <p>
                    There are buttons for saving your changes, adding new players/traits/trackers, and cycling through alert status.
                    You should see the momentum pool tracker on the left.
                </p>
                <p>
                    The starship's name can be edited and the 3D model can be changed (drag-and-drop a GLTF/GLB or use the settings dialog).
                </p>
                <label>
                    The players can be customized:
                </label>
                <ul style="margin-top: 0;">
                    <li>department colors border (upper-left hidden selector)</li>
                    <li>pips for rank</li>
                    <li>current and maximum stress</li>
                    <li>name</li>
                    <li>photo (drag-and-drop an image or use the settings dialog)</li>
                </ul>
                <p>
                    This application saves locally, no server is involved. (It uses the browser's IndexDB technology)
                </p>
                <table>
                    <thead>
                        <th colspan="2">Keyboard Shortcuts</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ctrl S</td>
                            <td>Save Changes</td>
                        </tr>
                        <tr>
                            <td>F1</td>
                            <td>Show Welcome Screen</td>
                        </tr>
                        <tr>
                            <td>Ctrl ,</td>
                            <td>Open Settings</td>
                        </tr>
                    </tbody>
                </table>
                <p>
                    This application is licensed freely under
                    the <a href="https://github.com/lunarcloud/sta-play-webapp/blob/main/LICENSE">MIT License</a>
                    for anyone to fork, fix, re-host, improve, or learn from.
                </p>
                <p>
                    ©Sam Sarette 2024
                </p>
            </main>
            <footer>
                <button class="close" role="button">Close</button>
            </footer>
        </dialog>
    </body>
</html>
