@font-face {
    font-family: Persis;
    src: url("Persis Bold Italic.woff2");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Persis;
    src: url("Persis Italic.woff2");
    font-style: italic;
}

@font-face {
    font-family: Persis;
    src: url("Persis Bold.woff2");
    font-weight: bold;
}

 @font-face {
    font-family: Persis;
    src: url("Persis.woff2");
}
