@font-face {
    font-family: Persis;
    src: url("Persis Bold Italic.otf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Persis;
    src: url("Persis Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: Persis;
    src: url("Persis Bold.otf");
    font-weight: bold;
}

 @font-face {
    font-family: Persis;
    src: url("Persis.otf");
}
