@import url('../lcars-late-24/theme.css');

:root,
::backdrop {
    --main-color-bg: hsl(200, 20%, 27%); /* holographic or glass */
    --nav-color-text: hsl(251, 20%, 83%);
    --player-color-opacity: 0.20;
    --trait-color-opacity: 0.20;
    --saturation-adjust: 20%;

    --player-color-red: hsla(0, 58%, 52%, var(--player-color-opacity));
    --player-color-blue: hsla(249, 84%, 47%, var(--player-color-opacity));
    --player-color-yellow: hsla(50, 73%, 58%, var(--player-color-opacity));
    --player-color-brown: hsla(23, 55%, 64%, var(--player-color-opacity));
    --player-color-black: hsla(252, 5%, 21%, var(--player-color-opacity));
    --player-color-white: hsla(248, 24%, 82%, var(--player-color-opacity));
}

li[is="player-display"] {
    background-color: transparent !important;
}

task-tracker::part(internal) {
    --tracker-background-color: hsla(284, 14%, 42%, 0.459);
    --tracker-title-separator-color: hsla(253, 73%, 28%, 0.62);
}

/* normal trait colors, but translucent */
trait-display {
    --trait-color-opacity: 0.35;
    --trek-color-1: hsla(240,   80%,    44%,    var(--trait-color-opacity));
    --trek-color-2: hsla(196,   54%,    61%,    var(--trait-color-opacity));
    --trek-color-3: hsla(249,   64%,    47%,    var(--trait-color-opacity));
    --trek-color-4: hsla(172,   35%,    37%,    var(--trait-color-opacity));
    --trek-color-5: hsla(287,   53%,    58%,    var(--trait-color-opacity));
    --trek-color-6: hsla(260,   38%,    32%,    var(--trait-color-opacity));
}

body {
  background: linear-gradient(45deg,
    var(--main-color-bg),
    var(--main-color-bg),
    var(--void-bg),
    var(--main-color-bg),
    var(--main-color-bg),
    var(--void-bg),
    var(--main-color-bg),
    var(--main-color-bg),
    var(--void-bg),
    var(--main-color-bg),
    var(--main-color-bg),
    var(--void-bg),
    var(--main-color-bg));

  background-size: 200% 200%;
  animation: moveGradient 30s linear 0s infinite normal;
}

@keyframes moveGradient {
    0% {background-position: 100% 0%}
    100% {background-position: 0% 100%}
}

decoration > ul {
    opacity: 0.25;
}

nav > ul {
    filter: grayscale(0.3);
}

/* Because of transparency, replace the inner curves with angles */
decoration > ul li {

    &.curve-bottom-right, &.curve-top-right {
        & li:nth-of-type(1)::before {
            width: 0px;
            border-width: 10mm 15mm 10mm 0mm;
            border-style: solid;
            background: unset !important;
            border-color: transparent;
        }

        & li:nth-of-type(1)::after {
            content: unset;
        }
    }
    &.curve-bottom-right {
        & li:nth-of-type(1)::before {
            border-bottom-color: var(--trek-color-2);
        }
    }
    &.curve-top-right {
        & li:nth-of-type(1)::before {
            border-top-color: var(--trek-color-1);
        }
    }
}
