@import url('../../fonts/pixelsagas.com/PS_Roddenberry/font.css');

/* This theme is the TOS style one */

:root,
::backdrop {
    --main-font-body: "Roddenberry", sans-serif;
    --main-font-headers: "Roddenberry", sans-serif;
    --main-font-unitless: 12pt;
    --main-color-bg: hsl(200deg 50% 1%); /* nearly-black */
    --void-bg: black;
    --trek-color-1: hsl(221deg 22% 34%);
    --trek-color-2: hsl(235deg 11% 60%);
    --trek-color-3: hsl(27deg 92% 49%);
    --trek-color-4: hsl(5deg 86% 44%);
    --trek-color-5: hsl(268deg 22% 66%);
    --trek-color-6: hsl(322deg 6% 25%);
    --header-inner-bg: hsl(220deg 14% 16%);
    --header-outer-bg: var(--main-color-bg);
    --trek-color-highlight: var(--trek-color-4);
    --player-color-red: hsl(5deg 92% 31%);
    --player-color-blue: hsl(221deg 71% 30%);
    --player-color-yellow: hsl(53deg 78% 39%);
    --player-color-brown: hsl(32deg 43% 29%);
    --player-color-black: hsl(260deg 12% 25%);
    --player-color-white: hsl(261deg 19% 77%);
}


html {
    min-height: 0;
    background-color: #999;
}

html > body, decoration {
    height: 100dvh;
    width: 100vw;
    min-width: 6em;
    min-height: 4em;
    display: block;
    padding: 0;
    margin: 0;
}

body {
    transition: background-color 2s ease-in-out 0.25s;

    decoration {
        transition: filter 2s ease-in-out 0.25s;
    }

    &[alert="grey"], &[alert="cloak"] {
        background-color: #494f53;

        decoration {
            filter: grayscale(.6)
        }
    }
}


li[is="player-display"] {
    --pip-color: rgb(163 154 108) !important;
}

html > body {
    background-color: #ccc;

    & > header {
        bottom: unset;
        left: unset;
        top: 1.25em;
        right: 1.125em;
        width: 15.75em;
        aspect-ratio: calc(16 / 9);
        position: absolute !important;
        background-color: black !important;

        & #ship-top {
            display: none;
        }
    }

    & > main {
        position: absolute;
        inset: 4em 18.5em 3em 5.5em; /* just inside of the decoration */
        padding: 0.5em;
        overflow: auto;
        height: auto;
    }

    & > nav {
        position: absolute;
        bottom: 1.25em;
        right: 1.125em;
        width: 15.75em;

        & ul li {
            border-radius: 0;

            &.shipname {
                border-radius: 0;
                color: black;
            }
        }
    }
}


#game-name {
    inset: unset;
    padding: unset;
    top: 0.5em;
    left: 4em;
    right: 15em;
    text-align: center;
    width: auto;

    & br {
        display: none;
    }

    & * {
        display: inline-block;
    }
}

#settings-btn,
#save-btn,
#fullscreen-btn,
#dice-btn,
#font-up-btn,
#font-down-btn  {
    position: absolute;
    top: unset;
    bottom: 0.5em;
    width: fit-content;
}

#settings-btn {
    left: 9em;
    right: unset;
}

#save-btn {
    left: 14em;
    right: unset;
}

#fullscreen-btn {
    left: 1em;
    right: unset;
}

#dice-btn {
    left: unset;
    right: 31.5em;

    & img.symbol {
      filter: invert(1) contrast(1.25);
    }

    &:hover, &:focus {
      & img.symbol {
        filter: invert(1) sepia(0.5) hue-rotate(275deg);
      }
    }

    &:active {
      & img.symbol {
        filter: invert(1) sepia(1) hue-rotate(275deg);
      }
    }
}

#font-up-btn {
    left: unset;
    right: 27em;
}

#font-down-btn {
    left: unset;
    right: 22em;
}

#momentum-section,
#threat-section  {
    position: absolute;
    left: unset;
    right: 13em;
    background-color: #999;
    width: 8em;
    aspect-ratio: calc(16 / 9);
    justify-content: space-around;
}

#momentum-section  {
    top: calc(50% + 2.5em) !important;
}

#threat-section  {
    top: calc(50% - 2.5em) !important;
}

decoration {
    z-index: -1000;
    accent-color: #873333;
    display: block;
    position: absolute;
    inset: 0;
    overflow: hidden;
}

viewscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0.5em;
    position: absolute;
    top: 0.125em;
    right: 0.125em;

    screen {
        display: block;
        background-color: black;
        width: 16.5em;
        aspect-ratio: calc(16 / 9);
    }
}

monitor {
    display: block;
    position: absolute;
    inset: 3em 18em 2em 5em;
    border-radius: 2em;
    background-color: black;
}


ul.sliders {
    list-style: none;
    width: auto;
    position: absolute;
    height: auto;
    height: var(--stretch);
    top: 4em;
    bottom: 2em;
    left: 1em;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;

    li {
        height: 100%;
        margin: 0;

        input {
            writing-mode: vertical-lr;
            direction: rtl;
            margin: 0.25em;
            background: #833;
            height: 100%;
            width: 0.5em;
            -webkit-appearance: none;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 0.75em;
                aspect-ratio: 1;
                background: #AA046D;
                cursor: pointer;
            }

            &::-moz-range-thumb {
                width: 0.75em;
                aspect-ratio: 1;
                background: #AA046D;
                cursor: pointer;
            }
        }
    }
}