@import url('../../fonts/pixelsagas.com/PS_Roddenberry/font.css');

:root,
::backdrop {
    --main-font-body: "Roddenberry", sans-serif;
    --main-font-headers: "Roddenberry", sans-serif;
    --main-font-size: 6mm;
    --main-color-bg: hsl(200deg 50% 1%); /* nearly-black */
    --void-bg: black;
    --trek-color-1: hsl(221deg 22% 34%);
    --trek-color-2: hsl(235deg 11% 60%);
    --trek-color-3: hsl(27deg 92% 49%);
    --trek-color-4: hsl(5deg 86% 44%);
    --trek-color-5: hsl(268deg 22% 66%);
    --trek-color-6: hsl(322deg 6% 25%);
    --header-inner-bg: hsl(220deg 14% 16%);
    --header-outer-bg: var(--main-color-bg);
    --trek-color-highlight: var(--trek-color-4);
    --player-color-red: hsl(5deg 70% 25%);
    --player-color-blue: hsl(221deg 36% 28%);
    --player-color-yellow: hsl(53deg 40% 46%);
    --player-color-brown: hsl(32deg 43% 29%);
    --player-color-black: hsl(260deg 12% 25%);
    --player-color-white: hsl(261deg 19% 77%);
}
