task-tracker-internal {
    display: inline-block;
    position: relative;
    padding: 4px;
    border-radius: 12px;
    font-family: inherit;
    color: inherit;
    background-color: var(--tracker-background-color, #666);
    border-width: var(--tracker-border-width, 6px);
    border-style: var(--tracker-border-style, outset);
    border-color: var(--tracker-border-color, black white white black);

    & * {
        font-family: inherit;
        font-size: inherit;
    }

    /* Hide any legacy controls unless activated */
    &:not(.legacy-controls) .legacy-controls {
        display: none;
    }

    /* Hide any not-legacy elements if activated */
    &.legacy-controls .non-legacy-controls {
        display: none;
    }

    & > .remove {
        color: var(--tracker-title-close-color, #333);
        position: absolute;
        top: 0;
        right: 0;
        width: min-content;
        background-color: transparent;
        border-color: transparent;
        overflow: visible;
        user-select: none;
        cursor: pointer;
    }

    & > .name {
        font-size: 1.5rem;
        margin: 0;
        padding-right: 1em;
        margin-bottom: 4px;
        border-bottom: 4px solid var(--tracker-title-separator-color, #333);
    }

    input {
        background: unset;
        color: unset;
        width: var(--stretch);
    }

    select, option {
        background: var(--tracker-select-background-color, #333);
        color: var(--tracker-select-color, #ccc);
    }

    input, select {
        border-radius: 4px;
        border-width: 0;
        outline: unset !important;
    }

    & dt {
        color: var(--tracker-dt-text-color, inherit);
        background-color: var(--tracker-dt-background-color, unset);
        border-bottom: 2px solid var(--tracker-dt-border-color, transparent);
    }

    & dd {
        font-size: 1.25rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0.25em;
        color: var(--tracker-dd-text-color, inherit);
        background-color: var(--tracker-dd-background-color, unset);
        border-bottom: 2px solid var(--tracker-dd-border-color, transparent);
        width: 2.35em;

        &:has(select) {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 100%;
            width: var(--stretch);
        }
    }

    /* Hide what's not toggled visible */
    dd.character .ship {
        display: none;
    }

    dd.ship .character {
        display: none;
    }

    dl {
        display: grid;
        grid-template-columns: auto 1fr;
        width: fit-content;
        margin: 0;
        gap: 1px;

        & dt.resistance,
        & dt.complication-range,
        & dt.progress,
        & dt.breakthroughs {
            grid-column: 1;
        }

        & dd.resistance,
        & dd.complication-range,
        & dd.progress,
        & dd.breakthroughs {
            grid-column: 2;
        }

        dt.stats,
        dd.stats {
            grid-column: 3;
        }

        dt.stats{
            grid-row: 1;
            min-width: 6em;
            width: var(--stretch);
            display: flex;
            justify-content: space-between;
        }

        dd.stats{
            grid-row: 2 / 4;
            padding-left: 0;
            background-color: unset;
            border-bottom: 0 solid transparent;
        }
    }

    &:not(.manual-breakthroughs) .manual-breakthroughs {
        display: none;
    }

    /* Way simpler presentation for new controls style */
    &:not(.legacy-controls) {
        dl {
            display: block;
        }

        dt, dd {
            display: inline-block;
        }

        & .progress-visual {
            display: block;
            text-align: center;
        }
    }

    .stats-toggle {
        --border-radius-toggle: 0.125em;

        display: inline-block;
        height: 1em;
        width: 2.25em;
        position: relative;
        background-color: var(--tracker-select-background-color, #333);
        border-radius: var(--border-radius-toggle);

        & > * {
            margin: 0;
            width: 1em;
            aspect-ratio: 1;
        }

        & input {
            appearance: none;
            background-color: var(--trek-color-highlight, #94242e);
            border-radius: var(--border-radius-toggle);
            position: absolute;
            left: 0;
            transition: left ease-out 50ms;
            z-index: 0;

            &:checked {
                left: calc(100% - 1em);
            }
        }

        & img {
            position: relative;
            z-index: 1;
            user-select: none;
            transition: filter ease-out 50ms;
        }

        & img.character {
            float: inline-start;
        }

        & img.ship {
            float: inline-end;
        }

        input:checked ~ img.character {
            filter: invert(1);
        }

        input:not(:checked) ~ img.ship {
            filter: invert(1);
        }
    }

    & .progress {
        display: inline-block;
        width: auto;
        width: fit-content;

        input& {
            width: 1.35em;
        }
    }
}