@import url('../../fonts/pixelsagas.com/PS_Jefferies/font.css');

:root,
::backdrop {
    --main-font-body: "Jefferies", sans-serif;
    --main-font-headers: "Jefferies", sans-serif;
    --main-font-size: 14pt;
    --main-color-bg: hsl(200deg 50% 1%); /* nearly-black */
    --void-bg: black;
    --trek-color-1: hsl(5deg 86% 44%);
    --trek-color-2: hsl(65deg 22% 34%);
    --trek-color-3: hsl(0deg 0% 39%);
    --trek-color-4: hsl(5deg 76% 16%);
    --trek-color-5: hsl(312deg 21% 24%);
    --trek-color-6: hsl(15deg 47% 35%);
    --header-inner-bg: hsl(0deg 80% 18%);
    --header-outer-bg: var(--main-color-bg);
    --header-edge-bg: var(--main-color-bg);
    --trek-color-highlight: var(--trek-color-1);
    --ship-name-color:rgb(171 113 113);
    --ship-name-color-bg: hsl(0deg 0% 0% / 79.9%);
    --ship-name-color-border: transparent;
    --player-color-red: hsl(5deg 70% 25%);
    --player-color-blue: hsl(221deg 36% 28%);
    --player-color-yellow: hsl(53deg 40% 46%);
    --player-color-brown: hsl(32deg 43% 29%);
    --player-color-black: hsl(260deg 12% 25%);
    --player-color-white: hsl(261deg 19% 77%);
    --bottom-section-height: 8em;
}

li[is="player-display"] {
    --main-font-headers: "Okuda", sans-serif;
}

nav > ul li {
    border-radius: 2px !important;
    border: 0.25em outset black;
}

html {
    min-height: 30em;
    min-width: fit-content;
    width: 100vw;
    height: fit-content;
}


body {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    grid-template-rows: 1fr calc(var(--bottom-section-height) + 0.25em);
    grid-template-columns: 13em 1fr 14em;
    gap: 0;

    & decoration li {
        transition: filter 2s ease-in-out 0.25s;
    }

    &[alert="grey"], &[alert="cloak"] {
        decoration li {
            filter: sepia(1) hue-rotate(-55deg) brightness(0.5);
        }
    }

    & header {
        grid-row: 2;
        grid-column: 2;
        margin: 0.25em;
    }

    & nav {
        grid-row: 2;
        grid-column: 3;
        margin-top: 0;
    }

    & > main {
        grid-row: 1;
        grid-column: 1 / 4;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;

        & traits, & mission-tracker {
            margin-top: 0;
            margin-bottom: 0.75em;
            border-bottom: 0;
            padding: 0;
            font-size: 1em;
        }

        & mission-tracker {
            &::part(scene) {
                background-image: url('../../img/klingon-emblem-dark.webp');
                background-size: 15em;
                background-position: 0 center;
            }
        }
    }
}

#game-name {
    inset: unset;
    padding: unset;
    width: 13em;
    bottom: calc(var(--bottom-section-height) - 2em);
    left: 0.5em;
    text-align: center;
    font-size: 1em;
    color: black;
    text-shadow: 1px 1px 0 rgb(79 70 70);

    & br {
        display: none;
    }
}

#settings-btn,
#save-btn,
#font-up-btn,
#font-down-btn {
    inset: unset;
    padding: unset;
    width: 5em;
    justify-content: space-evenly;
}

#settings-btn,
#font-up-btn {
    bottom: calc(var(--bottom-section-height) - 2em);
}

#font-down-btn,
#save-btn {
    bottom: calc(var(--bottom-section-height) - 3.5em);
}

#save-btn,
#settings-btn {
    left: 0.6em;
}

#font-up-btn,
#font-down-btn   {
    left: 10.6em;
}

#momentum-section,
#threat-section {
    inset: unset;
    top: unset !important;
    bottom: 0.5em;
    width: 7em;
}

#momentum-section {
    left: 0.6em;
}

#threat-section {
    left: 8.6em;
}

#settings-btn,
#save-btn,
#momentum-section,
#threat-section,
#font-up-btn,
#font-down-btn
{
    background-color: hsl(0deg 0% 39% / 75%);
    border-radius: 4px;
    padding: 4px;
    height: fit-content;
    border: 2px solid #2412127d;
    border-top: 2px solid black;
}

task-tracker::part(internal) {
    background-repeat: repeat;
    background-image: url('cc0-textures/diamond-plate-007-D.webp');
    background-size: 15em;
    color: black;
    text-shadow: 0 0 2px #999;

    --tracker-dt-background-color: hsl(0deg 0% 39% / 40.9%);
    --tracker-dt-border-color: hsl(0deg 51% 15%);
    --tracker-dd-text-color: hsl(0deg 0% 89%);
    --tracker-dd-background-color: hsl(0deg 0% 9%);
    --tracker-dd-border-color: hsl(0deg 51% 15%);
}


decoration {
    ul {
        display: contents;

        & li {
            z-index: -1;
            position: absolute;
            border: 0.25em inset white;
            background-color: gray;
            background-image: url('cc0-textures/metal-024.webp');
            background-size: 50%;
            background-repeat: repeat;
        }

        /* App Controls at bottom */
        & li:first-child {
            bottom: 0;
            left: 0;
            right: 0;
            height: var(--bottom-section-height);
            background-image: url('cc0-textures/diamond-plate-007-D.webp');
            background-size: 24em;
        }

        /* Traits section at top */
        & li:nth-child(2) {
            height: 2em;
            left: 0;
            top: 0;
            right: 0;
        }
    }
}