@import url('../../fonts/pixelsagas.com/PS_Jefferies/font.css');

:root,
::backdrop {
    --main-font-body: "Jefferies", sans-serif;
    --main-font-headers: "Jefferies", sans-serif;
    --main-font-size: 6mm;
    --main-color-bg: hsl(200deg 50% 1%); /* nearly-black */
    --void-bg: black;

    --trek-color-1: hsl(5, 86%, 44%);
    --trek-color-2: hsl(65, 22%, 34%);
    --trek-color-3: hsl(0, 0%, 39%);
    --trek-color-4: hsl(5, 76%, 16%);
    --trek-color-5: hsl(312, 21%, 24%);
    --trek-color-6: hsl(15, 47%, 35%);

    --header-inner-bg: hsl(0, 80%, 18%);
    --header-outer-bg: var(--main-color-bg);
    --header-edge-bg: var(--main-color-bg);

    --trek-color-highlight: var(--trek-color-1);
    --ship-name-color:rgb(171, 113, 113);
    --ship-name-color-bg: hsla(0, 0%, 0%, 0.799);
    --ship-name-color-border: transparent;

    --player-color-red: hsl(5, 70%, 25%);
    --player-color-blue: hsl(221, 36%, 28%);
    --player-color-yellow: hsl(53, 40%, 46%);
    --player-color-brown: hsl(32, 43%, 29%);
    --player-color-black: hsl(260, 12%, 25%);
    --player-color-white: hsl(261, 19%, 77%);
}


nav > ul li {
    border-radius: 2px !important;
    border: 1mm outset black;
}

html {
    min-height: 150mm;}

body {
    padding-left: 2mm;
    padding-right: 2mm;
    padding-top: 1mm;
    grid-template-rows: 1fr 6mm 52mm;
    grid-template-columns: 65mm 1fr 85mm;

    & header {
        grid-row: 3;
        grid-column: 2;
        margin: 1mm;
    }
    & nav {
        grid-row: 3;
        grid-column: 3;
        margin-top: 0;
    }
    & > main {
        grid-row: 1;
        grid-column: 1 / 4;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;

        & traits {
            margin-bottom: 4mm;
        }
    }
}

#game-name {
    inset: unset;
    padding: unset;
    width: 65mm;
    bottom: 33mm;
    left: 2mm;
    text-align: center;
    font-size: 21px;
    color: black;
    text-shadow: 1px 1px 0 rgb(79, 70, 70);

    & br {
        display: none;
    }
}

#settings-btn {
    inset: unset;
    width: unset;
    padding: unset;
    bottom: 38mm;
    left: 5mm;
    width: 20mm;
    justify-content: space-evenly;
}

#save-btn {
    inset: unset;
    padding: unset;
    width: unset;
    bottom: 38mm;
    left: 35mm;
    width: 20mm;
    justify-content: space-evenly;
}

#mute-btn {
    inset: unset;
    width: unset;
    padding: unset;
    bottom: 24mm;
    left: 25mm;
}


#momentum-section {
    inset: unset;
    bottom: 2mm;
    left: 1mm;
    width: 65mm;
}

#settings-btn,
#save-btn,
#momentum-section
{
    background-color: hsla(0, 0%, 39%, 0.75);
    border-radius: 4px;
    padding: 4px;
}

task-tracker::part(internal) {

    background-repeat: repeat;
    background-size: 240px;
    background-image: url('cc0-textures/diamond-plate-007-D.jpg');
    color: black;
    text-shadow: 0 0 2px #999;

    --tracker-dt-background-color: hsla(0, 0%, 39%, 0.409);
    --tracker-dt-border-color: hsl(0, 51%, 15%);

    --tracker-dd-text-color: hsl(0, 0%, 89%);
    --tracker-dd-background-color: hsl(0, 0%, 9%);
    --tracker-dd-border-color: hsl(0, 51%, 15%);
}



decoration {
    ul {
        display: contents;

        & li {
            z-index: -1;
            position: absolute;
            border: 1mm inset white;
            background-color: gray;
            background-image: url('cc0-textures/metal-024.jpg');
            background-repeat: repeat;
            background-size: 240px;
        }

        & li:first-child {
            bottom: 0;
            left: 0;
            right: 0;
            height: 51mm;
            background-image: url('cc0-textures/diamond-plate-007-D.jpg');
        }

        & li:nth-child(2) {
            height: 10mm;
            left: 0;
            top: 0;
            right: 0;
        }
    }
}