@import url('../../fonts/pixelsagas.com/PS_Persis/font.css');

:root,
::backdrop {
    --main-font-body: "Persis", sans-serif;
    --main-font-headers: "Persis", sans-serif;
    --main-font-size: 4.5mm;
    --main-color-bg: hsl(200deg 50% 1%); /* nearly-black */
    --void-bg: black;

    --trek-color-1: hsl(221, 22%, 34%);
    --trek-color-2: hsl(235, 11%, 60%);
    --trek-color-3: hsl(27, 92%, 49%);
    --trek-color-4: hsl(5, 86%, 44%);
    --trek-color-5: hsl(268, 22%, 66%);
    --trek-color-6: hsl(322, 6%, 25%);

    --header-inner-bg: transparent;
    --header-outer-bg: transparent;
    --header-edge-bg: transparent;

    /*
    --ship-name-color:rgb(171, 113, 113);
    --ship-name-color-bg: hsla(0, 0%, 0%, 0.799);
    --ship-name-color-border: transparent;*/

    --trek-color-highlight: var(--trek-color-4);

    --player-color-red: hsl(5, 70%, 25%);
    --player-color-blue: hsl(221, 36%, 28%);
    --player-color-yellow: hsl(53, 40%, 46%);
    --player-color-brown: hsl(32, 43%, 29%);
    --player-color-black: hsl(260, 12%, 25%);
    --player-color-white: hsl(261, 19%, 77%);
}



nav > ul li {
    border-radius: 2px !important;
    border: 1mm outset black;
}

html {
    min-height: 150mm;
    min-width: fit-content;
    width: 100vw;
    height: fit-content;
}

body {
    padding-left: 2mm;
    padding-right: 2mm;
    padding-top: 1mm;
    grid-template-rows: 51mm 1mm 1fr;
    grid-template-columns: 65mm 1fr 85mm;

    & header {
        grid-row: 1;
        grid-column: 2;
    }
    & nav {
        grid-row: 1;
        grid-column: 3;
        margin-top: 0;
    }
    & > main {
        grid-row: 3;
        grid-column: 1 / 4;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr auto;

        & traits {
            margin-bottom: 4mm;
        }
    }
}

#game-name {
    inset: unset;
    padding: unset;
    width: 65mm;
    top: 2mm;
    left: 1mm;
    text-align: center;
    /* font-size: 21px; */
    color: black;
    text-shadow: 1px 1px 0 rgb(79, 70, 70);
}

#settings-btn {
    inset: unset;
    width: unset;
    padding: unset;
    width: 20mm;
    justify-content: space-evenly;
}

#save-btn {
    inset: unset;
    padding: unset;
    width: unset;
    top: 38mm;
    left: 35mm;
    width: 20mm;
    justify-content: space-evenly;
}

#mute-btn {
    inset: unset;
    width: unset;
    padding: unset;
    top: 24mm;
    left: 25mm;
}


#momentum-section {
    inset: unset;
    top: 38mm;
    left: 5mm;
    width: 63mm;
}

#settings-btn,
#save-btn,
#momentum-section
{
    border-radius: 4px;
    padding: 4px;
}

task-tracker::part(internal) {

    text-shadow: 0 0 2px #999;
}



decoration {
    ul {
        display: contents;
        width: 100%;

        & li {
            list-style: inside;
            z-index: -1;
            position: absolute;
            border: 1mm inset white;
            background-color: gray;
            background-repeat: repeat;
            background-size: 240px;
        }

        & li:first-child {
            top: 0;
            left: 0;
            width: 64mm;
            height: 52mm;
        }

        & li:nth-child(2) {
            top: 0;
            left: 66mm;
            right: calc(50% - 2mm);
            height: 52mm;
        }

        & li:nth-child(3) {
            top: 0;
            left: calc(50% - 2mm);
            right: 88mm;
            height: 52mm;
        }

        & li:nth-child(4) {
            top: 0;
            right: 0;
            width: 86mm;
            height: 52mm;
        }

        & li:nth-child(5) {
            height: 10mm;
            left: 0;
            top: 55mm;
            right: 0;
        }

        & li:nth-child(6) {
            display: none;
        }
    }
}