@import url('../../fonts/pixelsagas.com/PS_Persis/font.css');
@import url('../../fonts/pixelsagas.com/PS_Okuda/font.css');

:root,
::backdrop {
    --main-font-body: "Persis", sans-serif;
    --main-font-headers: "Persis", sans-serif;
    --main-font-size: 12pt;
    --main-color-bg: hsl(200deg 50% 1%); /* nearly-black */
    --void-bg: black;
    --trek-color-1: hsl(221deg 22% 34%);
    --trek-color-2: hsl(235deg 11% 60%);
    --trek-color-3: hsl(27deg 92% 49%);
    --trek-color-4: hsl(5deg 86% 44%);
    --trek-color-5: hsl(268deg 22% 66%);
    --trek-color-6: hsl(322deg 6% 25%);
    --header-inner-bg: transparent;
    --header-outer-bg: transparent;
    --header-edge-bg: transparent;

    /*
    --ship-name-color:rgb(171, 113, 113);
    --ship-name-color-bg: hsla(0, 0%, 0%, 0.799);
    --ship-name-color-border: transparent; */

    --trek-color-highlight: var(--trek-color-4);
    --player-color-red: hsl(5deg 70% 25%);
    --player-color-blue: hsl(221deg 36% 28%);
    --player-color-yellow: hsl(53deg 40% 46%);
    --player-color-brown: hsl(32deg 43% 29%);
    --player-color-black: hsl(260deg 12% 25%);
    --player-color-white: hsl(261deg 19% 77%);
    --traits-display-width: 12em;
    --controls-height: 10em;
    --ship-display-height: 8em;

    --ship-display-col-1: 1;
    --ship-display-col-2: 2;
    --ship-display-row: 1;

    --main-content-col-start: 1;
    --main-content-col-end: 4;
    --main-content-row: 2;

    --controls-1-col: 1;
    --controls-2-col: 2;
    --controls-row: 3;
}

ship-alert {
    font-family: Okuda, sans-serif;
}

nav > ul li {
    border-radius: 2px !important;
    border: 1mm outset black;
}

html {
    min-height: 30em;
    min-width: fit-content;
    width: 100vw;
    height: fit-content;
}

body, decoration {
    grid-template-columns: repeat(2, 27em) 1fr var(--traits-display-width);
    grid-template-rows: var(--ship-display-height) 1fr var(--controls-height);
    grid-gap: 0;
    height: calc(100dvh - 1em);
    width: calc(100vw - 1em);
    inset: 0;
    margin: 0;
    padding: 0;
    min-width: 66em;
    min-height: 30em;
}

decoration {
    z-index: -1000;
    display: grid;
    position: absolute;

    box {
        display: block;
        z-index: -100;
        position: relative;
        border: 1mm inset white;
        background-color: transparent;
        background-repeat: repeat;
        background-size: 240px;
        margin-top: 0.5em;
        margin-left: 0.5em;

        & dot {
            display: block;
            border-radius: 50%;
            border: 0.125em solid #999;
            background-color: var(--trek-color-1);
            height: 0.75em;
            aspect-ratio: 1;
            position: absolute;
            top: -0.5em;
            left: -0.5em;
        }

        &:first-child {
            grid-row: var(--ship-display-row);
            grid-column: var(--ship-display-col-1);

            dot {
                background-color: var(--trek-color-1);
            }
        }

        &:nth-child(2) {
            grid-row: var(--ship-display-row);
            grid-column: var(--ship-display-col-2);

            dot {
                background-color: var(--trek-color-3);
            }
        }

        &:nth-child(3) {
            grid-row: var(--main-content-row);
            grid-column: var(--main-content-col-start) / var(--main-content-col-end);

            dot {
                background-color: var(--trek-color-4);
            }
        }

        &:nth-child(4) {
            grid-row: var(--controls-row);
            grid-column: var(--controls-1-col);

            dot {
                background-color: var(--trek-color-5);
            }
        }

        &:nth-child(5) {
            grid-row: var(--controls-row);
            grid-column: var(--controls-2-col);

            dot {
                background-color: var(--trek-color-6);
            }
        }
    }

    edge {
        grid-row: 1 / 4;
        grid-column: 4;
        display: block;
        z-index: -100;
        margin: 1em;
        border-left: 0.125em solid #999;
    }
}

body {

    & header {
        grid-row: var(--ship-display-row);
        grid-column: var(--ship-display-col-1) / calc(1 + var(--ship-display-col-2));

        gap: 1em;
        margin: 0.75em 0.25em 0.25em 0.75em;

        & > model-viewer {
            display: block;
        }

        & .fullscreen-btn {
            right: 0.5em;
            bottom: 1em;
        }
    }

    & nav {
        grid-row: var(--controls-row);
        grid-column: var(--controls-2-col);
        padding: 1em;
        margin: auto;
    }

    & > main {
        grid-row: var(--main-content-row);
        grid-column: var(--main-content-col-start) / var(--main-content-col-end);
        overflow: auto;
        margin-top: 1em;
        margin-left: 1em;
        height: calc(100% - 1.25em);
        width: calc(100% - 1.25em);

        & content,
        &.players {
            padding-left: 0.25em;
        }

        & #general-text {
            word-break: break-word;
        }

        & traits, mission-tracker {
            position: absolute;
            top: 0;
            right: 0.5em;
            bottom: 0;
            font-size: 1em;
            border: none;
            width: calc(var(--traits-display-width) - 2em);
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            justify-content: flex-start;

            & > * {
                width: 100%;
                margin: 0 auto;
                text-align: center;
            }

            & > trait-display::part(internal) {
                width: 100%;
                width: -webkit-fill-available;
            }
        }
    }
}

#game-name {
    inset: unset;
    padding: unset;
    bottom: 6.5em;
    left: 1.5em;
    width: fit-content;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 rgb(79 70 70);

    & br {
        display: none;
    }

    & * {
        display: inline-block;
    }
}

#settings-btn,
#save-btn,
#momentum-section,
#threat-section,
#font-up-btn,
#font-down-btn
{
    background-color: hsl(0deg 0% 39%);
    padding: 4px;
    height: fit-content;
    border: 2px solid #2412127d;
    border-top: 2px solid black;
}

#settings-btn,
#save-btn,
#font-up-btn,
#font-down-btn {
    top: unset !important;
    right: unset;
    bottom: 7em;
    width: 6em;
    justify-content: space-evenly;
}

#settings-btn {
    left: 2em;
}

#save-btn {
    left: 10em;
}

#font-down-btn {
    left: 18em;
}

#font-up-btn {
    left: 26em;
}

#font-up-btn,
#font-down-btn {
    justify-content: center;
    & text {
        padding-inline: 0.25em;
    }
    & symbol {
        letter-spacing: 0.25em;
        width: fit-content;
    }
}

#momentum-section,
#threat-section {
    top: unset !important;
    right: unset;
    bottom: 2em;
    left: 14em;
    width: 14em;
}

#momentum-section {
    left: 2em;
}

#threat-section {
    left: 18em;
}


#settings-btn,
#save-btn,
#momentum-section
{
    border-radius: 4px;
    padding: 4px;
}

task-tracker::part(internal) {
    text-shadow: 0 0 2px #999;
}

